@model hospital.Models.historia_clinica

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>historia_clinica</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.id_historia)

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_nacim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_nacim)
        <dt>
            @Html.DisplayNameFor(model => model.Num_seguridad_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_seguridad_social)
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
 
