@model hospital.Models.ingresos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ingresos</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Num_habitacion)

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_ingreso)
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_salida)
        <dt>
            @Html.DisplayNameFor(model => model.id_cama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camas.Num_cama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_historia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historia_clinica.Cedula)
        </dd>

    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						Num_habitacion = Model.Num_habitacion 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
