@model hospital.Models.ingresos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ingresos</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Num_habitacion)

        <div class="form-group">
            @Html.LabelFor(model => model.Comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentario)
                @Html.ValidationMessageFor(model => model.Comentario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_ingreso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_ingreso, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.Fecha_ingreso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_salida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_salida, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.Fecha_salida)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_cama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_cama")
                @Html.ValidationMessageFor(model => model.id_cama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_historia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_historia")
                @Html.ValidationMessageFor(model => model.id_historia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
