@model hospital.Models.Visita_medico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Visita_medico</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Cod_visita)

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        <dt>
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tratamiento)
        <dt>
            @Html.DisplayNameFor(model => model.ID_hospitales_servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospitales_servicios.CodigoRefer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_historia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historia_clinica.Cedula)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
 
