@model hospital.Models.Visita_medico

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Visita_medico</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Cod_visita)

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hora)
                @Html.ValidationMessageFor(model => model.Hora)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnostico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diagnostico)
                @Html.ValidationMessageFor(model => model.Diagnostico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tratamiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tratamiento)
                @Html.ValidationMessageFor(model => model.Tratamiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_hospitales_servicios, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_hospitales_servicios")
                @Html.ValidationMessageFor(model => model.ID_hospitales_servicios)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_historia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_historia")
                @Html.ValidationMessageFor(model => model.id_historia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
